:host {
  display: block;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
.signin_custom{
font: 900 18px / 0px Roboto, sans-serif
}
.textb{
      margin: 0 0 12px;
}
.loginheading h1 {
    font: 900 28px / 20px Roboto, sans-serif;
    letter-spacing: normal;
    margin: 0px 0 2px;
}